<header>
  <center><img style="height: 100px;" id="email-logo" src="https://unleashedandunplugged.illusion705.repl.co/api/logo" alt="logo"></center>
  <center><p id="email-subject" style="font-weight: bold; font-size: 17px; color: #3d2bc4;"></p></center>
  <hr style="border: 1.5px solid #393460">
</header>

<main>
  <p id="email-body" style="font-size: 17px;"></p>
  <hr style="border: 1.5px solid #393460">
</main>

<footer style="width: 100%; margin-top: 20px; margin-bottom: 20px">
  <div>
    <center>
      <a target="_blank" href="https://instagram.com/unleashedandunplugged?igshid=d2EzaXh5NnlibGZu"><img style="height: 30px; width: 30px; margin-right: 30px;" src="https://unleashedandunplugged.illusion705.repl.co/public/images/footer/instagram.png"></a>
      <a target="_blank" href="https://www.facebook.com/unleashedandunpluggedhouseconcerts"><img style="height: 30px; width: 30px; margin-right: 30px;" src="https://unleashedandunplugged.illusion705.repl.co/public/images/footer/facebook.png"></a>
      <a target="_blank" href="https://x.com/JWilliamssk6er?s=20"><img style="height: 30px; width: 30px;" src="https://unleashedandunplugged.illusion705.repl.co/public/images/footer/x.png"></a>
    </center>
    <a id="unsubscribe"><center style="font-size: 14px; color: gray; margin-top: 20px; text-decoration: underline; cursor: pointer;">Unsubscribe</center></a>
  </div>
</footer>