<hr id="footer-hr">
<div id="footer">
  <div id="footer-social-media">
    <a target="_blank" href="https://instagram.com/unleashedandunplugged?igshid=d2EzaXh5NnlibGZu"><img class="footer-sm-img" src="/public/images/footer/instagram.png"></a>
    <a target="_blank" href="https://www.facebook.com/unleashedandunpluggedhouseconcerts"><img class="footer-sm-img" src="/public/images/footer/facebook.png"></a>
    <a target="_blank" href="https://x.com/JWilliamssk6er?s=20"><img class="footer-sm-img" src="/public/images/footer/x.png"></a>
  </div>
</div>