<div id="header-content">
  <a href="/">
    <img id="header-logo" src="../api/logo" alt="logo">
  </a>
  
  <div id="header-links">
    <a href="/">Home</a>
    <a href="/shows">Shows</a>
    <a href="/house-rules">House Rules</a>
    <a href="/gallery">Gallery</a>
    <a href="/artists">For The Artists</a>
  </div>

  <div id="header-hamburger-container">
    <img id="header-hamburger" src="/public/images/header/hamburger.svg">
  </div>
  
  <div id="header-hamburger-links">
    <a href="/">Home</a>
    <a href="/shows">Shows</a>
    <a href="/house-rules">House Rules</a>
    <a href="/gallery">Gallery</a>
    <a href="/artists">For The Artists</a>
  </div>
  
  <div id="header-message">
    <span id="header-message-text"></span>
    <span id="header-message-extensions"></span>
    <span id="header-message-hide">X</span>
  </div>
</div>

<hr>