<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/home.css">
    <link rel="icon" type="image/png" href="/api/logo">
    <div id="font-links-container"></div>
    <title>Unleashed and Unplugged</title>
  </head>
  <body>
    <script src="/public/js/fontLoader.js"></script>
    
    <header></header>

    <main>
      <div id="section1">
        <div id="section1-left">
          <img id="section1-logo" src="/api/logo">
        </div>

        <div id="section1-right">
          <div class="section1-pic-row">
            <img class="section1-picture" id="section1-picture1">
            <img class="section1-picture" id="section1-picture2">
          </div>

          <div class="section1-pic-row">
            <img class="section1-picture" id="section1-picture3">
            <img class="section1-picture" id="section1-picture4">
            <img class="section1-picture" id="section1-picture5">
          </div>

          <div class="section1-pic-row">
            <img class="section1-picture" id="section1-picture6">
            <img class="section1-picture" id="section1-picture7">
          </div>
        </div>
      </div>

      <div id="section2">
        <div>
          <h1>Future Concert Updates</h1>
          <p>Enter your email to receive updates on future concerts.</p>
        </div>

        <form id="section2-inputs">
          <input type="email" id="email-input" placeholder="Enter Email" class="input">
          <button type="submit" id="email-submit" class="button">Submit</button>
        </form>
      </div>

      <div id="section3">
        <h1 id="body-title" class="header">Unleashed and Unplugged</h1>
        <div id="body-text"></div>
      </div>

      <div id="section4">
        <h1 id="contact-body-title" class="header">Contact Us</h1>
        <div id="contact-body-text"></div>
      </div>

      <footer></footer>
    </main>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/home.js"></script>
  </body>
</html>