<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/unsubscribe.css">
    <link rel="icon" type="image/png" href="/api/logo">
    <div id="font-links-container"></div>
    <title>Unleashed and Unplugged</title>
  </head>
  <body>
    <script src="/public/js/fontLoader.js"></script>
    
    <header></header>
    
    <main>
      <div id="container">
        <h3>Removing your email from subscription list</h3>
        <div id="loading-icon"></div>
      </div>
    </main>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/public/js/main.js"></script>
    <script src="/public/js/unsubscribe.js"></script>
  </body>
</html>