/* section 1 */
#section1 {
  display: flex;
  justify-content: space-around;
}

#section1-left, #section1-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 470px;
  overflow-y: hidden;
}

#section1-right {
  margin-left: -10px;
}

#section1-left {
  width: 550px;
}

#section1-right {
  width: 435px;
}

#section1-logo {
  height: 400px;
  width: 550px;
  border-radius: 50px;
  object-fit: cover;
}

.section1-picture {
  border-radius: 50%;
  height: 140px;
  width: 140px;
  background: black;
  margin: 9px 3px;
  cursor: pointer;
  object-fit: cover;
}

.section1-pic-row {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  #section1 {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 530px) {
  #section1-left {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }

  #section1-logo {
    width: 100%;
    height: auto;
  }

  .section1-picture {
    height: 110px;
    width: 110px;
  }
}

/* section 2 */
#section2 {
  background: #242429;
  margin-top: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section2-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#section2 h1 {
  margin-bottom: 20px;
  color: #36289c;
  font-size: 40px;
  text-align: center;
}

#section2 p {
  color: #393460;
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

#email-input {
  font-size: 25px;
  padding: 10px;
  width: 70%;
  margin-right: 50px;
}

@media (max-width: 550px) {
  #section2 {
    padding: 40px 20px;
  }

  #section2 h1 {
    font-size: 30px;
  }

  #section2 p {
    font-size: 20px;
  }
  
  #section2-inputs {
    flex-direction: column;
  }

  #email-submit {
    margin-top: 30px;
  }

  #email-input {
    width: calc(100% - 30px);
    margin: 0;
    font-size: 17px;
  }
}

/* section 3 */
#body-title, #contact-body-title {
  width: 100%;
  margin: 30px 0;
  text-align: center;
  font-size: 40px;
  color: #36289c;
}

#body-text, #contact-body-text {
  font-size: 20px;
  margin: 0 100px 50px 100px;
  text-align: justify;
}

@media (max-width: 700px) {
  #body-text, #contact-body-text {
    margin: 0 20px 50px 20px;
    text-align: left;
  }
}