* {
  font-family: "Ubuntu", Ubuntu;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: white;
}

.header {
  font-family: "Ubuntu", Ubuntu;
}

.button {
  border: none;
  background: #393460;
  transition: background 500ms;
  padding: 10px 20px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background: #36289c;
}

.input {
  border: none;
  border-radius: 10px;
  color: #e6e6e6;
  background: #2b274f;
  border: 2px solid #36289c;
  transition: border 500ms, color 500ms;
}

.input:focus {
  outline: none;
  border: 2px solid #e6e6e6;
  color: #e6e6e6;
}

header {
  position: fixed;
  width: calc(100vw - 100px);
  height: 120px;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0 50px;
  background: #1c1c21;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
}

#header-content {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

header hr {
  border: 2px solid #393460;
}

#header-logo {
  height: 100px;
  border-radius: 10px;
}

#header-links {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 20px;
}

#header-hamburger-container {
  display: flex;
  height: 100%;
  align-items: center;
}

#header-hamburger {
  display: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

#header-hamburger-links {
  display: none;
  position: fixed;
  height: calc(100vh - 130px);
  background: #1c1c21;
  width: 100vw;
  top: 130px;
  left: 0;
  flex-direction: column;
}

#header-hamburger-links a {
  height: 20%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  color: #36289c;
  transition: color 500ms;
}

#header-hamburger-links a:hover {
  color: #393460;
}

@media (max-width: 1150px) {
  #header-links {
    width: 60%;
  }
}

@media (max-width: 950px) {
  #header-links {
    width: 70%;
  }
}

@media (max-width: 850px) {
  #header-links {
    display: none;
  }

  #header-hamburger {
    display: flex;
  }
}

#header-links > a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #3d2bc4;
  transition: color 500ms;
}

#header-links > a:hover, #header-links > #header-link-selected {
  color: #393460;
}

main {
  position: absolute;
  background: #1c1c21;
  min-height: calc(100vh - 130px);
  width: 100vw;
  top: 0;
  left: 0;
  padding-top: 130px;
}

/* loading animation */
#loading-circle {
  height: 20px;
  width: 20px;
  background: transparent;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 50%;
  animation: 1s loadingButton linear infinite;
}

@keyframes loadingButton {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* header message */
#header-message {
  position: fixed;
  transform: translateY(70px);
  height: 40px;
  display: none;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

#header-message-text {
  margin-left: 15px;
  color: white;
}

#header-message-hide {
  margin-left: 20px;
  margin-right: 15px;
  cursor: pointer;
  color: #0f1012;
}

/* footer */
#footer {
  display: flex;
  width: 100vw;
  justify-content: center;
  margin-bottom: 25px;
  margin-top: 25px
}

#footer-social-media {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.footer-sm-img {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

#footer-hr {
  border: 2px solid #393460;
  margin: 0 50px;
}