main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shows-title {
  width: 100%;
  margin: 30px 0;
  text-align: center;
  font-size: 40px;
  color: #3d2bc4;
}

#concert-entries {
  width: 1000px;
}

.concert-entry:first-child {
  margin: 0 0 50px 0;
}

.concert-entry {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.concert-entry-name {
  width: 100%;
  color: #36289c;
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.concert-entry-date-time * {
  display: inline;
}

.concert-entry-date, .concert-entry-date-time-dot, .concert-entry-time {
  width: 100%;
  color: #393460;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

.concert-entry-main-content {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}

.concert-entry-img {
  height: 300px;
  margin: 0 20px;
}

.concert-entry-description {
  font-size: 20px;
  width: 500px;
}

@media (max-width: 1020px) {
  .concert-entry-main-content {
    flex-direction: column !important;
  }

  .concert-entry-img {
    height: 200px;
    margin-bottom: 10px;
  }

  .concert-entry-description {
    width: 600px;
  }
}

@media (max-width: 700px) {
  .concert-entry-description {
    width: calc(100vw - 50px);
  }
}

@media (max-width: 550px) {
  .concert-entry-date, .concert-entry-time {
    display: block;
  }
  
  .concert-entry-date-time-dot {
    display: none;
  }

  .concert-entry-name {
    margin-bottom: 0;
  }
}