main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#shows-title {
  width: 100%;
  margin: 30px 0;
  text-align: center;
  font-size: 40px;
  color: #719fc9;
}

#concert-entries {
  width: 1000px;
}

.concert-entry {
  width: 100%;
  margin: 50px 0;
}

.concert-entry-name {
  width: 100%;
  color: #3094ff;
  text-align: center;
  font-size: 30px;
}

.concert-entry-date-time {
  width: 100%;
  color: #4cc2b4;
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
}

.concert-entry > div {
  display: flex;
  width: 100%;
  margin-top: 20px;
  align-items: center;
}

.concert-entry-img {
  height: 300px;
  margin-right: 10px;
}

.concert-entry-description {
  font-size: 20px;
}